# You can add regex replacement patterns to this file which
# allow to sanitize notebook outputs that are not reproducible.
#
# See the nbval documentation for details:
#   https://nbval.readthedocs.io/en/latest/#REGEX-Output-sanitizing
